<h1><%= @studio.name %>  |  <%= @studio.location %></h1>

<h3>Movies:</h3>
<ul>
  <% @studio.movies.each do |m| %>
    <li><%= m.title %></li>
</ul>
<% end %>

<h3>Our Currently Working Actors:</h3>
<ul>
  <% @studio.select_actors.each do |act| %>
    <li><%= act.name %> | <%= act.age %> Years Old</li>
</ul>
<% end %>
